.Home {
    width: 100%;
    min-height: calc(100vh - 60px);
    background: url('../../images/stars.svg'), rgb(213, 161, 238);
    background-repeat: repeat;
  
    color: rgb(41, 37, 37);
  
    display: flex;
    align-items: center;
  }
  
  .Home__col {
    display: flex;
    
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .Home__col {
      align-items: flex-start;
    }
  }